*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-size: 24px;
}

.navbar{
    height: 80px;
    background-color: black;
    color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 700;
}

.links{
    display: flex;
    gap: 30px;

}
.links a{
    text-decoration: none;
    color:lightseagreen;
    text-transform: uppercase;
}

